mkdir env_variable
cd env_variable
echo '
  APP_BASE_URL=localhost:3000
  TOKEN_SECRET_KEY=
  DATABASE_URL=""
  DATABASE_URL_TEST=""
  SENDGRID_API_KEY=
  NO_REPLY_MAIL=

  # Social Auth

  GOOGLE_CLIENT_ID=
  GOOGLE_CLIENT_SECRET=
  GOOGLE_CALLBACK_URL=
  FACEBOOK_APP_ID=
  FACEBOOK_APP_SECRET=
  FACEBOOK_CALLBACK_URL=
  TWITTER_CONSUMER_KEY=
  TWITTER_CONSUMER_SECRET=
  TWITTER_CALLBACK_URL=
  SESSION_SECRET=

  #super admin signup

  SUPER_ADMIN_STATUS=
  SUPER_ADMIN_EMAIL=""
  SUPER_ADMIN_PASSWORD=""
  SUPER_ADMIN_USERNAME=""

  # PUSHER

  PUSHER_APP_ID=
  PUSHER_KEY=
  PUSHER_SECRET=
  PUSHER_CLUSTER=

' > .env